<!DOCTYPE html>
<html>

<head>
    <title>
        <%= room.roomName %>
    </title>
    <script>
        const room_name = "<%= room.roomName %>"
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="/public/styling/style.css" />
</head>

<body>
    <div class="row no-gutters">
        <div class="col-sm-3 no-gutters">
            <div class="sidePanel">
            <div id="sideBarProfilPic">
                <img id="profilPic" src="<%= userDoc.profilPic %>" alt="profil picture">
            </div>
                <div id="sideBar">
                    <div id="roomDiv">
                        <!-- SKRIVER UT ALLA RUMMEN -->
                        <% rooms.forEach(room=> { %>
                            <h2><a href="<%= room._id %>">
                                    <%= room.roomName %>
                            </h2></a>
                            <% }) %>
                    </div>
                </div>
                <div id="onlineUserText">
                    <h4>Click on a online user to start a private conversation</h4>
                </div>
                <!-- ONLINE USERS -->
                <div id="onlineUsersDiv">
                    <div id="users">
                        <h6 class="onlineText">Online users:</h6>
                        <% usersOnline.forEach(user=> { %>
                            <p id="onlineUsers" class="users">
                                <%= user.userName %>
                            </p>
                            <% }) %>
                    </div>

                    <!-- ALL USERS -->
                    <div id="allUsers">
                        <h6 class="onlineText">Offline users:</h6>
                        <% usersOffline.forEach(user=> { %>
                            <p id="offlineUsers" class="users">
                                <%= user.userName %>
                            </p>
                            <% }) %>
                    </div>
                </div>
                <!-- CREATE A NEW ROOM -->
                <div id="createRoomDiv">
                    <p>Create a new room</p>
                    <form action="/chatpage" method="post">
                        <label for="newRoomName"></label>
                        <input type="text" name="newRoomName" placeholder="Name">
                        <input class="btn btn-primary" type="submit" value="Create new room">
                    </form>
                </div>
            </div>
        </div>
        <div id="test" class="col-sm-9 no-gutters">
            <div id="welcomeText">
                <h1>Welcome to the <%= room.roomName %> room!</h1>
                <!-- LOG OUT/PROFILE PAGE -->
                <div id="toProfil">
                    <form action="/chatPage">
                        <button type="submit" id="logOutBtn" class="btn btn-primary"> Profile </button>
                    </form>
                </div>
                <div >
                    <form action="/login/:logout">
                        <button type="submit" id="logOutBtn" class="btn btn-danger"> Logout</button>
                    </form>
                </div>
            </div>

            <div id="chat-window">
                <div id="output">
                    <!-- Skriver ut alla tidigare meddelanden -->
                    <% room.messages.forEach(message=> { %>
                        <p>
                            <%= message %>
                        </p>
                        <% }) %>
                </div>
                <ul id="messages"></ul>
                <div id="userTyping"></div>


                <form class="col-sm-9" id="form">
                    <input id="nameInput" autocomplete="off" type="text" value="<%= logedInUser %>" hidden />
                    <input id="msgInput" autocomplete="off" placeholder="Message" />
                    <button>Send</button>
                </form>

            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/script.js"></script>

</body>

</html>