    <!DOCTYPE html>
    <html>
    <head>
        <title><%= room.roomName %></title>
       <script>
            const room = "<%= room.roomName %>"

       </script>
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/public/styling/style.css" />
    </head>
    <body>
        <div class="row no-gutters">
            <div class="col-sm-3 no-gutters">
                <div id="sideBar">
                    <% rooms.forEach(room => { %>
                        <h2><a href="<%= room.roomName %>"><%= room.roomName %></h2></a>
                        <% }) %>
                    </div>
                    <div id="usersOnline">
                        <p>Users online</p>
                    </div>
                    <div id="createRoomDiv">
                        <p>Create a new room</p>
                        <form action="/chatpage" method="post">
                            <label for="newRoomName">Name</label>
                          <input type="text" name="newRoomName">
                          <input type="submit" value="Create new room">
                          </form>
                      </div>
                      
                </div>
                <div class="col-sm-9 no-gutters">
            <h1>Welcome to the <%= room.roomName %> room!</h1>
            <div id="chat-window">

                <!-- Skriver ut alla tidigare meddelanden -->
                <% room.messages.forEach(message => { %>
                     <p><%= message %></p>
                    <% }) %>


                    <!-- ///////////////////////// -->
                    <ul id="messages"></ul>
                    <div id="output"></div>
                    <div id="userTyping"></div>
                    <!-- ////////SKEIV UT BILDEN////////// -->
                   

                  

                <form class="col-sm-9" id="form" action="">
                     <input
                     id="nameInput"
                     autocomplete="off"
                     type="text"
                     placeholder="Your name"
                     />
                     <input
                     id="msgInput"
                     autocomplete="off"
                     placeholder="Message"
                     /><button>Send</button>
                </form>

                <!-- Formulär för uppladning av filer -->
                <form action="/rooms/<%= room.roomName %>" method="post" enctype="multipart/form-data">
                    <input type="file" name="fileUpload" /><br />
                    <button type="submit" value="Upload">Upload</button>
                </form>
                
            </div>
        </div>
        </div>
       
        <script src="/socket.io/socket.io.js"></script>
        <script  src="/public/js/script.js"></script>

    </body>
    </html>
